/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/
:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #8f8c8c;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #141414 16.69%, #f7931a 100%);
    /* el rosa que me gusta #FF4955 y naranja que me gusta #FF7B00 revisar al final los colores originales*/
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;   /* se puede centrar un elemento que este en un contenedor con display:flex */
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center; /*centra eltexto*/
    align-self: center;/* para centrar el contenedor se puede hacer asi ya que su padre tiene display flex*/
}
.header--title-container h1{
    font-size: 2.4rem; /*24px*/
    font-weight: bold;
    line-height: 2.6rem; /*26px*/
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
/*---------uso de position para el boton flotante del header---------*/

.header--title-container .header--button{
position: absolute;
left: calc(50% - 114px);/*se tiene que tomar el 50% del total del width del contenedor en este caso 229px*/
top: 270px;
display: block;
margin-top: 35px;
padding: 15px;
width: 229px;
height: 48px;
background-color: var(--off-white);
/*sombras*/
box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
border: none;
border-radius: 5px;
/*fuentes*/
font-size: 1.4rem;
font-weight:bold;
text-decoration: none;
color: var(--black)
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

/*----------------section main---------------*/

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;   background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*--------------------table---------------------*/
.main-currency-table{
    width: 70%; /*este 70% es para cuando esta en version movil*/
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title{
    width: 90%;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
    margin: 0 auto;
}
.currency-table--container{
    width: 90%;
    min-width: 234px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    /* background-color: #312526; */
    width: 100%;
    height: 100%;
}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height:1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
/*------------bordes-------------*/
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0 ;
}
/*---------------------------------*/
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #616161;
}
/* ---------------------flechitas------------------ */
.currency-table--container .down{
    display:inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display:inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* --------------------------------------- */
.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.3rem;
    color: var(--warm-black);
}
/* ---------------------------seccion de productos-------------------------- */
.main-product-detail{
    position:relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px 40px;
    background-color: var(--black);
}
.product-detail--logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -15px;
    left: calc(50% - 20px); /*posiciona la papa en el centro la funcion calc pone el objeto en el 50%(es decir la mitad de lo que haya de espacio y se le resta el tamaño del elemento entre 2(en este caso el widht de la papa es de 40 px, por eso se le resta 20px)*/
    background-image: url('./assets/icons/batata.svg');
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top:40px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #949090;
}
/* ------------------------articles---------------------------- */
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px; /* buscar overflow */
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom:10px;
    background-image: url('./assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#949090
}
/* ------------------------------seccion comodin------------------------------ */
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
.bitcoin-img-container h2{
padding-top: 60px;
font-size: 2.4rem;
font-weight: bold;
line-height: 2.6rem;
color: var(--just-white);
text-align: center;
}
/* ------------------------------ seccion planes ------------------------------ */

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans-title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/* Comenzando con las tarjetas */
.plans-container--slider{
    max-width: 910px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 316px;
    overflow-y: hidden;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position: relative;
   scroll-snap-align: center;  /* sirve para centrar automaticamente el contenido de cada tajeta */
    width: 65%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 0 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card.recomendado{
    margin: 50px 10px 0;
}

/* ------------------------ para los espaciados en las tarjetas----------------------------- */
/* .plans-container--card.derecha{
    margin-right:10px;
}
.plans-container--card.izquierda{
    margin-left:10px;
} */
/* .icon-right{
    display: flex;
    background-image: url('./assets/icons/right-arrow.svg');
    width: 50px;
    height: 50px;
    background-position: center ;   
    background-repeat: no-repeat;
    background-size: cover;
} */
/* ----------------------------------------------------- */


.plans-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
  }
  .plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }
.recomended{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card--title{
    padding-top:30px;
    padding-left: 5px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--price{
    position: relative;
    padding: 5px 0;
    font-size: 5.3rem;
    font-weight: bold;
    line-height: 5.3rem;
    letter-spacing: -2px;
    color: var(--black);
}
.plan-card--price span{
    position: absolute;
    font-size: 1.2rem;
    position: relative;
    top: -30px;
    left: calc(50% 40px);
} 
.plan-card-saving{
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca{
    width: 150px;
    height: 38px;
    margin-top: 30px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;
    font-family: "DM SANS", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height:20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom; /*para alinear verticalmente el icono con el texto del boton*/
}
/* ------------------------------------------------- */
footer{
    position: relative;
    display: flex;
    width: 100%;
    min-width: 250px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 20px 0;
}
.left a{
    color: var(--just-white);
    text-decoration: none;
}
